<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live University</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <style>
        .hide {
            display: none !important;
        }

        @media only screen and (max-width: 768px) {
            .p_mobile {max-width: 80vw !important; font-size: 14px !important;}

        }
    </style>
</head>
<body>
    <img id="logo_pesquisa" style="width: 40vh; margin: auto; display: flex; margin-top: 2%; margin-bottom: 2.5%;" src="https://liveulabs.sfo2.digitaloceanspaces.com/colive/Design/live_u_preto.png" alt="">
    <p id="cabecalho" class="p_mobile" style="max-width: 50vw; margin: auto; margin-bottom: 2.5%; font-size: 18px; text-align: center;">A Live University foi criada com o sonho de transformar a educação. Acreditamos que as pessoas devem curtir cada etapa de suas vidas e isso inclui o momento em que decidem estudar. Com foco em diferentes áreas: RH, Compras, Supply Chain, Inteligência de Mercado, Comercial, Tributário, Contábil, Data Science, TI e E-commerce.</p>
    <h4 style="text-align: center; margin-top: -1.5%; margin-bottom: 1.5%;" id="nome_contato_boas_vindas" class="hide"></h4>
    <h4 style="text-align: center; margin-top: -0.5%; margin-bottom: 1.5%;" id="responda_perguntas_h4">Reponda as perguntas para liberar o prêmio!</h4>

    <div id="form_cadastro_usuario" class="ui segment" style="display: flex; flex-direction: column; max-width: 60vh; margin: auto; justify-content: space-around;">
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="nome_cadastro_input" class="cadastro_input" type="text" placeholder="Nome">
        </div>
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="sobrenome_cadastro_input" class="cadastro_input" type="text" placeholder="Sobrenome">
        </div>
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="email_cadastro_input" class="cadastro_input" type="text" placeholder="Email">
        </div>
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="cpf_cadastro_input" class="cadastro_input" type="text" placeholder="CPF">
        </div>
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="rua_cadastro_input" class="cadastro_input" type="text" placeholder="Rua">
        </div>
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="numero_cadastro_input" class="cadastro_input" type="text" placeholder="Número">
        </div>
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="bairro_cadastro_input" class="cadastro_input" type="text" placeholder="Bairro">
        </div>
        <div style="margin-bottom: 5%;" class="ui input">
            <input id="cep_cadastro_input" class="cadastro_input" type="text" placeholder="CEP">
        </div>

        <div style="margin-bottom: 5%;" class="ui toggle checkbox">
            <input id="pj_btn" onclick="show_pj_div()" type="checkbox" name="public">
            <label>Pessoa Jurídica?</label>
        </div>
        
        <div id="pj_div" style="display: flex; flex-direction: column;" class="hide">
            <div style="margin-bottom: 5%;" class="ui input">
                <input id="nome_empresa_cadastro_input" class="empresa_cadastro_input" type="text" placeholder="Nome da empresa">
            </div>
            <div style="margin-bottom: 5%;" class="ui input">
                <input id="cnpj_cadastro_input" class="empresa_cadastro_input" type="text" placeholder="CNPJ">
            </div>
        </div>

        <button onclick="cadastrar_usuario()" id="cadastrar_user_btn" class="ui purple button">Próximo</button>

        <div id="loading_cadastro_usuario" class="ui inverted dimmer">
            <div class="ui loader"></div>
        </div>
    </div>    

    <div id="form_perguntas" class="ui segment hide" style="display: flex; flex-direction: column; max-width: 60vh; margin: auto; justify-content: space-around;">

        <div id="perguntas_box" style="display: flex; flex-direction: column; justify-content: space-around;"></div>
        
        <button id="enviar_resposta_btn" onclick="send_respostas()" class="ui purple button" style="margin-top: 2.5%;">Liberar Prêmio</button>

        <div id="loading_send_respostas" class="ui inverted dimmer">
            <div class="ui loader"></div>
        </div>
    </div>

    <div id="premio_div" class="hide" style="display: flex; align-items: center; flex-direction: column;">
        <h3>Agradecemos por responder as perguntas! Aproveite o vídeo ;)</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HP_AL_-iOhY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div id="loading_geral" class="ui inverted dimmer">
        <div class="ui loader"></div>
    </div>
   
    <script>
        var id_contato_global = <%-JSON.stringify(id_contato)%>
        var nome_global = <%-JSON.stringify(nome)%>
        var perguntas_global = <%-JSON.stringify(perguntas)%>
        var pesquisa_info = <%-JSON.stringify(pesquisa_info)%>
        var nome_cadastrado_global
    </script>
    <script src="./script.js"></script>
</body>
</html>